body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* h1, h2 {
  font-family: "Courier New", Courier, monospace;
}

button {
  background: none;
  border: none;
  cursor: pointer;
} */