.red_text {
    color: #E60C0C ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 6vw;
    font-family: 'Noto Sans';
}

.red_text p {
    margin: 0;
    padding: 0;
}

.top {
    width: 95%;
    margin: auto;
}

.line_separation_1 {
    height: 2px;
    background-color: black;
    border: none;
    margin-bottom: 3vw;
}

.line_separation_bottom {
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 3vw;
    margin-bottom: 12vw;
}

.line_separation {
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.title {
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.grid {
    padding-top: 3vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: auto;
    width: 95%;
    padding-bottom: 3vh;
}

.grid_item {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.25);
    border-radius: 15px;
}

.grid_item img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.title_article {
    font-size: 0.6rem;
    padding: 1vw;
    color: black;
    font-family: "Noto Sans";
}