.red_text {
    color: #E60C0C ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 6vw;
    font-family: 'Noto Sans';
}

.red_text p {
    margin: 0;
    padding: 0;
}

.top {
    width: 95%;
    margin: auto;
}

.line_separation_1 {
    height: 2px;
    background-color: black;
    border: none;
    margin-bottom: 3vw;
}

.line_separation_bottom {
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 3vw;
    margin-bottom: 12vw;
}

.line_separation {
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.title {
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.place_form {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.form {
    width: 65%;
    margin: auto;
    padding: 1vw 4vw 1vw 4vw;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paire {
    display: flex;
    flex-direction: column;
    margin: 4vw;
    margin-bottom: 4vw;
    font-family: 'Noto Sans';
}

.paire label {
    margin-bottom: 2vw;
    font-size: 0.8rem;
}

.paire input {
    padding: 2vw;
    border-radius: 10px;
    border: solid 1px black;
}

.form button {
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding: 2vw 4vw;
    border-radius: 999px;
    background-color: #E60C0C;
    color: white;
    font-family: 'Noto Sans';
    font-size: 0.8rem;
    border: none;
    display: flex;
}